.idea
.vscode

config
docs
node_modules
src

*.tgz
.babelrc
.editorconfig
.eslintignore
.eslintrc
.gitignore
.npmignore
.prettierignore
.prettierrc
jest.config.js
styleguide.config.js
tsconfig.declarations.json
tsconfig.json
yarn.lock
