$baseName: 'reactSimpleSelect';

$zIndex__base: 0;

$bg__default: white;
$bg__disabled: #f7f7f7;

$bg__optionSelected: #ddd;
$bg__optionHover: #eee;

$textColor__default: #333;
$textColor__disabled: #717171;
$textColor__disabledOption: #adadad;

$clickableIcon__idle: #aaa;
$clickableIcon__hover: #717171;
