@import './_helpers';
@import './_variables';

@include style('__container') {
  background: $bg__default;
  color: $textColor__default;
  position: relative;

  @include disabled {
    background: $bg__disabled;
    color: $textColor__disabled;
  }
}

@include style('__currentValue') {
  left: 14px; // TODO: what is the logic behind this value?
  pointer-events: none;
  position: absolute;

  &#{makeClassName('__placeholder')} {
    color: $textColor__disabled;
  }
}

@include style('__hidden') {
  visibility: hidden;
}

@include style('__labelWrapper') {
  margin-bottom: 4px;
}

@include style('__label') {
}

@include style('__inputWrapper') {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: default;
  display: flex;
  padding: 8px 12px;
  z-index: $zIndex__base;

  @include active {
    border: 1px solid #999;
  }

  input {
    border: 0;
    font-family: inherit;
    font-size: inherit;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

input#{makeClassName('__selectInput')} {
  background: $bg__default;

  @include disabled {
    background: $bg__disabled;
  }
}

@include style('__optionsWrapper') {
  background: $bg__default;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px, rgba(0, 0, 0, 0.1) 0 4px 11px;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  padding: 4px 0;
  position: absolute;
  width: 100%;
  z-index: $zIndex__base + 1;
}

@include style('__option') {
  cursor: pointer;
  display: flex;
  padding: 8px 12px;
  user-select: none;

  &#{makeClassName('__highlighted')} {
    background: $bg__optionHover;
  }

  @include selected {
    background: $bg__optionSelected;
  }

  &#{makeClassName('__noOptionsMessage')} {
    align-self: center;
    color: $textColor__disabled;
    cursor: default;
  }
}

@include style('__svgWrapper') {
  line-height: 0;

  svg {
    fill: $clickableIcon__idle;
    transition: fill 0.15s ease;
  }

  &:hover svg {
    fill: $clickableIcon__hover;
  }
}
