@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

p {
  margin: 8px 0;
}

hr {
  border: 1px solid #dedede;
  margin: 24px 0;
}
